---
- name: reload systemd
  shell: "systemctl daemon-reload"

- name: restart docker
  service:
    name: "{{ docker_package }}"
    state: restarted
    enabled: yes

- name: restart watchdog
  service:
    name: docker-watchdog
    state: restarted
