POOL={{ docker_workaround_watchdog_pool }}
LIMIT={{ docker_workaround_watchdog_limit }}
CMD_TEST="{{ docker_package }} ps"
CMD_FAIL="systemctl restart {{ docker_package }}"
CMD_OK="true"
MSG_FAIL="Docker has frozen. Restarting..."
