CMD_TEST_MAX_DURATION={{ docker_workaround_watchdog_cmd_test_max_duration }}
CMD_TEST="{{ docker_package }} ps"
CMD_FAIL="systemctl restart {{ docker_package }}"
CMD_OK="true"
MSG_FAIL="Docker has frozen. Restarting..."
